<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" class="form-container">
        <input type="hidden" name="messageid" value="<%= message._id%>"/>
        <button>Delete</button>
    </form>
</body>
</html>