<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1>
    <button>Login</button>
    <button><a href="/sign-up">Sign up</a></button>
    <button><a href="/messages">Messages test</a></button>
  </body>
</html>
