<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Create Message</title>
</head>
<body>
    <div>
        <h1><a href="/">Home/</a>Sign Up</h1>
        <form action="" method="POST" class="form-container">

            <label for="title">Title</label>
            <input name="title"  type="text" />

            <label for="text">Text</label>
            <input name="text"  type="text" />

            <button>Submit</button>
        </form>
    </div>
</body>
</html>