<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message Board</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    
    <label for="firstName">First name</label>
    <input name="firstName" placeholder="first name" type="text" />

    <label for="lastName">Last Name</label>
    <input name="lastName" placeholder="last name" type="text" />

    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" />

    <label for="password">Password</label>
    <input name="password" type="password" />

    <button>Sign Up</button>

  </form>
</body>
</html>