body {
  display: flex;
  flex-direction: column;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #ddd;
  width: 500px;
  max-width: 75%;
  border-radius: .5rem;
}


.form-container input{
  margin-bottom: 0.5rem;
}

.error-container{
  padding: 1rem;
  list-style: none;
}

.error{
  color: red;
  margin-bottom: .25rem;
}

li{
  padding: 1rem;
  list-style: none;
  border:1px solid black;
  border-radius: 1rem;
}

ul{
  margin: 0;
  padding: 0;
}

h1, h2, h3{
  margin: 0;
}

.author{
  display: flex;
  flex-direction: column;
  font-style: italic;
  text-align: end;
}

.author p{
  margin: 0;
}

#delete{
  display: flex;
  justify-content: end;
}

#delete a{
  color: red;
  text-decoration: none;
}

#delete a:hover{
  text-decoration: underline;
}

.messages li{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}